
.app {
    display: flex;
    min-height: 100vh;2
}

.content {
    flex: 1;
    margin-left: 250px;
    padding: 20px 25px;
    background: #fff;
    transition: margin-left 0.3s ease-in-out;
    margin-top: 0px;
    min-height: calc(100vh - 40px);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.sidebar.collapsed ~ .content {
    margin-left: 60px;
}

.orders-section h2 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
}

/* TABLE */
.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

.orders-table th {
    background-color: #f7f9fc;
    color: #333;
    font-weight: 600;
}

.orders-table tr:hover {
    background-color: #f9fafb;
}

.status-select {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
    outline: none;
}

.status-select:focus {
    border-color: #0ea5e9;
}
