/* - định nghĩa các quy tắc CSS cơ bản, chung cho toàn bộ website*/

:root{
    /*--color-one: #FF8484;*/
    /*--color-two:#F7D9C4 ;*/
    /*--color-text : #1B2026;*/
    /*--color-user:#EFEFEF ;*/
    /*--color-bg2:#DCE8EB  ;*/
    /*--color-bg32:#31363B  ;*/
    --color-bg:#EFEFEF;
    --color-bg-main: rgba(6, 84, 122, 0.87);
    --color-head:white;
    --font: Sans-serif;
    --color-red: #d92d20;
    --color-grey:  #777777;
    --size-icon: 20px;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --color-button: #4AA3B3;
    --color-bg-header:#FFFFC5;
    --font-size-text:13px;
}
button{
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-button);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: rgba(0, 163, 200, 0.71);
    border: 1px solid var(--color-button);
}
html, body, * {
    font-family: var(--font);

}

a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

