body {
    font-family: var(--font);
    background: var(--color-bg);
    margin: 0px auto;
    color: #373737;

}

.product-page{
    width: 1200px;
    margin: 0px auto;
}
.product-filter-bar {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 15px 0;
}

/* Hàng trên: Bộ lọc + thương hiệu */
.filter-top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #dce3eb;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.filter-btn:hover {
    background: #f3f6fa;
}

.filter-btn i {
    color: #0071e3;
    font-size: 14px;
}

/* Danh sách hãng */
.brand-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand {
    background: #f3f5f7;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.2s;
}

.brand:hover {
    background: #e7ebf0;
}

.brand img {
    height: 22px;
    width: 80px;
    object-fit: contain;
}

.brand.active {
    border: 1px solid #007bff;
    transition: 0.2s;
}

.option-group button.active {
    color:#007bff;
    border: 1px solid #007bff;
    font-weight: bold;
}

.dropdown.active {
    display: block; /* hoặc flex nếu bạn đang dùng layout */
}

/* Hàng dưới: các nút lọc */
.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 110px;
}

.filter-item {
    background: #f5f5f5;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.2s;
    width: 115px;
    text-align: center;
}

.filter-item:hover {
    background: #eee;
}

/* Dropdown menu */
.dropdown {
    position: absolute;
    top: 100%; /* nằm dưới hàng filter */
    left: 0;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px;
    min-width: 350px;
    z-index: 10;
    margin-left: 50px;

}
.dropdown.active {
    display: block;
}

.option-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

}

.option-group button {
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 8px;
    background: var(--color-bg);
    cursor: pointer;
    color: black;
}

.option-group button:hover {
    border-color: #2563eb;

}
.option-group button .active {
    border-color: #2563eb;
    background: var(--color-button);
    color: white;
}
/* Giá */
.price-input {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;

}

.price-input input {
    width: 200px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.price-range {
    width: 100%;
    margin-bottom: 10px;
}

/* Nút hành động */
.dropdown-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dropdown-actions button {
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-apply {
    background: #d70018;
    color: white;
}

/* --- Sắp xếp theo --- */
.sort-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.sort-section span {
    font-weight: 500;
}

.sort-section ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.sort-section li {
    cursor: pointer;
    color: #000;
    font-weight: 500;
    transition: 0.2s;
}

/*.sort-section li:hover {*/
/*    text-decoration: underline;*/
/*}*/

.sort-section li.active {
    color: #0071e3; /* xanh khi được chọn */
    font-weight: 150;
}

.product-list {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
}

/* CARD SẢN PHẨM */
.product-card {
    width: 100%;
    max-width: 300px;
    min-height: 500px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* ẢNH */
.product-img {
    position: relative;
    flex: 0 0 55%;
    background: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* HUY HIỆU GIẢM GIÁ */
.discount-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    background: #ef4444;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* THÔNG TIN */
.product-info {
    flex: 1;
    padding: 16px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* GIÁ */
/* --- GIÁ MỚI & GIÁ CŨ --- */
.price-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}

.price-new {
    color: #e11d48;
    font-size: 1.5rem;
    font-weight: 700;
}

.price-old {
    color: #9ca3af;
    font-size: 1rem;
    text-decoration: line-through;
}


/* MÀU SẮC */
.colors {
    display: flex;
    gap: 6px;
    margin: 10px 20px;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.color.active {
    border-color: #000;
}

/* DUNG LƯỢNG */
.capacity {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
}

.capacity button {
    padding: 6px 10px;
    color: black;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 12px;
}

.capacity button.active {
    border-color: #2563eb;
    background: var(--color-button);
    color: white;
}

.capacity button:hover {
    border-color: #2563eb;
}

/* --- PHẦN RATING --- */
.rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    gap: 2px;
}

.rating i {
    color: #facc15;
}

/* --- PHẦN DƯỚI (ĐÃ BÁN + GIỎ HÀNG) --- */
.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: auto;*/
    margin-bottom: 10px;

}


.sold-count {
    font-size: 0.9rem;
    color: #6b7280;
    transition: opacity 0.3s ease;
}

.cart-btn {
    width: 35px;
    height: 35px;
    background: var(--color-button);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart-btn:hover {
    background: var(--color-bg-main);
}

.load-more-wrap {
    text-align: center;
    margin: 20px 0;
}

.btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.spinner {
    font-size: 14px;
    color: #666;
    margin-left: 8px;
}
