
.voucher-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.voucher-scroll {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.voucher-scroll::-webkit-scrollbar {
    display: none;
}

.voucher-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.voucher {
    background: #fff;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);*/
    min-width: 250px;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.voucher:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.voucher-left {
    background: #f53d2d;
    color: white;
    padding: 25px 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voucher-left img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.voucher-right {
    flex: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.voucher-right h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.voucher-right p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.voucher-right button {
    background: #f53d2d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.voucher-right a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.badge {
    position: absolute;
    top: 8px;
    right: 12px;
    background: #ffe6e6;
    color: #f53d2d;
    font-weight: bold;
    border-radius: 50px;
    padding: 3px 8px;
    font-size: 14px;
}

/* Nút điều hướng */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #eeeeee;
    border: none;
    color: #0b0b0b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.nav-btn:hover {
    background: var(--color-button);
}

.nav-prev {
    left: 8px;
}

.nav-next {
    right: -5px;
}

/* Responsive */
@media (max-width: 768px) {
    .voucher {
        min-width: 220px;
    }

    .nav-prev {
        left: 5px;
    }

    .nav-next {
        right: 5px;
    }
}
