/* ===========================
   LAYOUT WRAPPER
=========================== */
#pageWrapper {
    display: flex;
    max-width: 1100px;
    margin: 24px auto 32px;
    gap: 10px;
    padding: 0 12px;
}


/* ===========================
   SIDEBAR CONTAINER
=========================== */
#accountSidebar {
    width: 240px;
    flex-shrink: 0;
    background: #fff;
    padding: 22px;
    border-radius: 4px;
}


/* ===========================
   USER INFO BOX
=========================== */
#userBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#userAvatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #e6e6e6;
    margin-right: 12px;
}

#usernameDisplay {
    font-weight: 600;
    font-size: 16px;
}

#editProfileBtn {
    margin-top: 3px;
    font-size: 13px;
    color: #888;
    text-decoration: none;
}

#editProfileBtn:hover {
    color:  var(--color-button);
}

.sidebar-divider {
    width: 100%;
    height: 1px;
    background: #ececec;
    margin: 15px 0;
}


/* ===========================
   MENU LIST
=========================== */
#menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* ===========================
   MENU CATEGORY TITLE
=========================== */
#menuAccountMain,
#menuOrders,
#menuVoucher {
    font-weight: 600;
    color: #333;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 10px 0 4px 0;
    text-decoration: none;
}


#menuList i {
    font-size: var(--size-icon);
    margin-right: 8px;
    color: #444;
}


/* ===========================
   MENU ITEMS
=========================== */
.menu-item a {
    color: #555;
    font-size: 13px;
    display: block;
    padding: 7px 0 7px 25px;
    position: relative;
    transition: 0.2s;
    border-radius: 3px;
}

/* Hover effect */
.menu-item a:hover {
    color:  var(--color-button);
}
/* Ban đầu ẩn submenu */
.submenu {
    display: none;
    padding-left: 0;
    margin-top: 5px;
}

/* submenu mở */
.submenu.open {
    display: block;
}

.submenu .menu-item a {
    padding-left: 25px;
}


